{% load static %}
<!DOCTYPE html>

<head>
    <!-- <style>
        .xyz{
          margin-bottom: 0px;
          background-image: url('{% static "image/homepage.jpg" %}');
          background-size: cover;
          background-repeat: no-repeat;
        }
      </style> -->
      
</head>


<body>
  {% include "blood/navbar.html" %}
<br>
<!-- <section id="section-jumbotron" style="margin-bottom: 0px;" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center xyz">
    <div class="container text-center">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
     
      
      <br><br><br><br>
      
    </div>  
  </section> -->

  <div class="container text-center">
    <br><br><br><br><br><br><br><br><br>

    <p class="lead text-center" style="font-size:35px"><b>“You Can’t Buy A Life For Someone With</b></p>
    <p class="lead text-center" style="font-size:35px"><b>Money, But You Can Save A Life Of Someone</b></p>
    <p class="lead text-center" style="font-size:35px"><b>By Donating Blood To Him.”</b></p>
    <p class="lead text-center" style="font-size:20px"><b><i>-TEAM SWASTH INDIA</i></b></p>
  
  
  <br><br><br><br><br><br><br>
  
</div>  
  
  <div class="jumbotron" style="margin-top: 0px;margin-bottom: 0px;">

    <!-- <p class="lead text-center">“A single drop of blood can make a huge difference.”
      </p>
    
    <p class="text-center">- TIU ESD PROJECT </p> -->
    
  </div>
  {% include "blood/footer.html" %}


</body>

</html>
